body,
html {
    height: 100%;
}

#body {
    background-image: url('bild.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#styleCenter {
    font-size: 30px;
    text-align: center;
    font-family: "Courier New"
}

#tr1 {
    font-size: 18px;
    border-radius: 5px;
    height: 150px;
    font-family: "Courier New"
}

button {
    font-size: 1.2rem;
    padding: 5px 2px;
    text-align: center;
    background-color: lightpink;
    font-family: "Courier New"
}

.inputText {
    height: 25px;
    width: 160px;
    font-family: "Courier New";
    background-color: lightpink;
    font-size: 20px;
}